Medical Appointment Booking_ Full Stack Agent.json
{
  "name": "Medical Appointment Booking: Full Stack Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are an AI Assistant for a Medical Shop\nYour role is to handle doctor’s appointment bookings via WhatsApp.\nYou must always keep track of the user’s progress with simple memory, and store/retrieve data in Google Sheets.\nPayments are handled via Stripe or Cash on Clinic.\nAlways be polite, WhatsApp-friendly, and guide users step by step.\n\nCore Workflow:\n\nGreeting & Main Menu\n\nWhen a user sends any message for the first time, greet them:\n\"Hello, Welcome to Medical Shop\nPlease choose an option:\n\n1. New Booking\n2. My Upcoming Bookings\n3. Reschedule Booking\n4. Cancel Booking\"\n\nWait for the user’s choice.\n\nNew Booking Flow\n(a) Patient Lookup\n\nget user registered patients\n\nIf patients exist with , show patient list and ask which one to use.\n\nIf no patient exists for given WhatsApp number or user selects \"Add New Patient\":\n\nAsk for Name, Age, Gender, Whatsapp Number.\n\nSave to Patients sheet.\n\nagain fetch the latest patient list for user \n\nShow updated patient list with patient_id ( must be displayed to user ), name, age and gender then ask which one to use ( user can reply with number option also ). \n\n(b) Date Selection\n\nGet the today's date and time from system\n\nGenerate 7 days (today + 6 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\n(c) Time Slot Selection\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 60 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using give date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\n(d) Payment Options\n\nAfter time is selected, ask:\n\"How would you like to pay?\n\n1. Online (Stripe)\n2. Cash at Clinic\"\n\n(e) Confirmation Message\n\nAfter taking all the data add the appointment in appointment sheet if user selects online (stripe) then save payment_method \"Stripe\"\n\nand send confirm message with:\n\"Appointment booked!\nPatient: {name}\nDate: {date}\nTime: {time}\nPayment Method: {method}\nPayment Status: Not paid\nStatus: Confirmed\"\n\nMy Upcoming Bookings Flow\n\nGet the current date and time from system\n\nLook up all future user appointments.\nGet all user patients.\n\nshow them as a list with user name , booking date , booking time\n\nReschedule Flow\n\nLook up all future confirmed appointments for the user.\nGet all user patients.\n\nShow them as a list with Whatsapp number, appointment id, user name, appointment date & time.\n\nAsk which one to reschedule.\n\nGet the today's date and time from system\n\nGenerate 7 days (today + 6 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 60 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using give date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\nafter the current system time ( if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\nafter picking one update the old appointment details with selected date and time \n\nand give a message to user that appointment has been reschedule and give details for new rescheduled appointment with patient details.\n\nCancel Flow\n\nGet the today's date and time from system\n\nLook up all future user appointments.\n\nShow them as a list with Whatsapp number, appointment id, appointment date & time .\n\nAsk which one to cancel.\n\nthen Cancel the selected appointment Appointment sheet.\n\nSend confirmation:\n\"Your appointment on {date} at {time} has been cancelled.\"\n\nGoogle Sheets Structure:\nPatients: patient_id, whatsapp_number, name, age, gender\nAppointments: appointment_id, patient_id, whatsapp_number, date, time, payment_method, payment_status, status, stripe_payment_intent\nConfig Sheet: key, value ( working_hours=10:00-18:00)\n\nMemory Rules:\n\nAlways remember where the user left off (menu, patient selection, date, time, payment).\n\nIf the user sends something invalid, say:\n\"Sorry, I didn’t understand that. Please reply with one of the given options.\"\n\nIf the user returns later, continue from the last remembered step.\n\nStyle Guide:\n\nsingle patient can register multiple patients and book as many appointments.\n\nKeep messages short, clear, and WhatsApp-friendly.\n\nUse numbers for options ( like reply with  1, 2, 3 ).\n\nAlways confirm before finalizing.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1328,
        -128
      ],
      "id": "a4635783-658f-4291-a03d-24ea35537b39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1589705241,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=1589705241"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1072,
        96
      ],
      "id": "",
      "name": "Project Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1200,
        96
      ],
      "id": "",
      "name": "Patient List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Whatsapp_number', ``, 'string') }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('age', ``, 'string') }}",
            "gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gender', ``, 'string') }}",
            "patient_id": "={{ $json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp number",
              "displayName": "Whatsapp number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1328,
        96
      ],
      "id": "",
      "name": "Add Patient",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "patient_id",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1456,
        96
      ],
      "id": "",
      "name": "Get user Appionment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $now.minus() }}",
            "patient_id": "={{ $json.message.chat.id }}",
            "whtasapp_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('whtasapp_number', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "payment_status": "Pending",
            "status": "Confirmed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whtasapp_number",
              "displayName": "whtasapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_details",
              "displayName": "stripe_payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1584,
        96
      ],
      "id": "",
      "name": "Add Appionment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whtasapp_number",
              "displayName": "whtasapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stripe_payment_details",
              "displayName": "stripe_payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1712,
        96
      ],
      "id": "",
      "name": "reschedule appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "status": "Cancelled"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whtasapp_number",
              "displayName": "whtasapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stripe_payment_details",
              "displayName": "stripe_payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1840,
        96
      ],
      "id": "",
      "name": "Cancel Appointments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/dhaka"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1968,
        96
      ],
      "id": "712f4548-91e4-4e0a-b580-d39743a68c60",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].from_user_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        944,
        96
      ],
      "id": "8f295858-fe93-4d77-9f9b-05f2c9937a2c",
      "name": "Brain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        96
      ],
      "id": "",
      "name": "Chat",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "Personal Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "event": "rowAdded",
        "options": {
          "dateTimeRenderOption": "FORMATTED_STRING"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        432
      ],
      "id": "",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "",
          "name": "Google Sheets Trigger account 144"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "207e998e-4de8-45b7-a8b1-58c89b219774",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "Stripe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5bacbafc-1ae3-4e4e-85d5-d77e1436338f",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "stripe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        432
      ],
      "id": "0fe7f75a-ec7d-4913-9933-f1de4840dfe3",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your Stripe API key"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata[appointmentId]",
              "value": "={{ $json.appointment_id }}"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            },
            {
              "name": "line_items[0][price_data][product_data][name]",
              "value": "Medical Shop"
            },
            {
              "name": "line_items[0][price_data][unit_amount]",
              "value": "5000"
            },
            {
              "name": "line_items[0][price_data][currency]",
              "value": "usd"
            },
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "success_url",
              "value": "https://wa.me/1963151076"
            },
            {
              "name": "cancel_url",
              "value": "https://wa.me/1963151076"
            },
            {
              "name": "metadata[whatsappNo]",
              "value": "={{ $('Google Sheets Trigger').item.json.whtasapp_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        432
      ],
      "id": "438750bb-abeb-498c-9dd3-2a872a6237e0",
      "name": "Stripe Checkout link generete"
    },
    {
      "parameters": {
        "events": [
          "payment_intent.succeeded"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        912,
        480
      ],
      "id": "6cfcc4d6-60fb-4875-b46a-32ee27770c81",
      "name": "Stripe Trigger",
      "webhookId": "d95b07d0-0217-4506-ae98-295d0dd3b79d",
      "credentials": {
        "stripeApi": {
          "id": "",
          "name": "Stripe account 45"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your Stripe API key"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_intent",
              "value": "={{ $json.data.object.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        480
      ],
      "id": "5fb16a03-fa6f-4c2c-80d2-aefaa749fdf4",
      "name": "Stripe Checkout link generete1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $json.data[0].metadata.appointmentId }}",
            "payment_status": "Paid",
            "status": "Confirmed",
            "stripe_payment_details": "={{ $json.data[0].payment_intent }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whtasapp_number",
              "displayName": "whtasapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_details",
              "displayName": "stripe_payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        384
      ],
      "id": "4c303fca-b355-4a9a-aa04-11b2a3e5bc12",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xwiCt2tL110SChK4",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "appointment_id",
              "lookupValue": "={{ $json.data[0].metadata.appointmentId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        576
      ],
      "id": "",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow 01",
        "height": 976,
        "width": 3264,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -224
      ],
      "typeVersion": 1,
      "id": "c9a8a501-0afe-4e6d-9ef5-133220ce73a3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Workflow 02: Stripe Payment ",
        "height": 544,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        320
      ],
      "typeVersion": 1,
      "id": "9c4b40a7-c640-42c3-a33a-f8688982acec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Workflow 03: Payment Verification",
        "height": 544,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        320
      ],
      "typeVersion": 1,
      "id": "e7d607e4-2cc2-4ac1-86ab-3c917ca770b4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "payment_status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        2000,
        496
      ],
      "id": "",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "",
          "name": "Google Sheets Trigger account 144"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73ba35ef-35a7-4891-ab17-a70b111259ea",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Cancelled",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e5272c05-dc48-4733-9e30-6c5dfa59961b",
              "leftValue": "={{ $json.status.toLowerCase() }}",
              "rightValue": "cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2224,
        496
      ],
      "id": "f0ed67e5-e434-43f0-a6ed-13a4ce7f6f37",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6bea08b-cdff-40d0-ae74-850e383d15e6",
              "leftValue": "={{ $json.stripe_payment_details }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        496
      ],
      "id": "04358790-eddc-48a3-adaf-b8c3e55353ac",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/refunds",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your Stripe API key"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_intent",
              "value": "={{ $('Google Sheets Trigger1').item.json.stripe_payment_details }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2672,
        592
      ],
      "id": "79aa83d1-a6c9-4969-b697-39fc88a66089",
      "name": "Stripe Checkout link generete2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181233198,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q3JMjwo0w2tjZr1AMbViv7fizmZPspZBKrDuu_hPnVE/edit#gid=181233198"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $('Google Sheets Trigger1').item.json.appointment_id }}",
            "payment_status": "Refunded",
            "status": "Refund",
            "stripe_payment_details": " "
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whtasapp_number",
              "displayName": "whtasapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_details",
              "displayName": "stripe_payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2896,
        496
      ],
      "id": "06630c53-e1bb-4752-8160-9b2a56f5491d",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xwiCt2tL110SChK4",
          "name": "Personal Portfolio"
        }
      }
    },
    {
      "parameters": {
        "content": "## Last Workflow: Refund",
        "height": 544,
        "width": 1296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        320
      ],
      "typeVersion": 1,
      "id": "e38feadd-07d5-4bcb-bd45-3764c40fbae0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        864,
        -128
      ],
      "id": "",
      "name": "WhatsApp Trigger",
      "webhookId": "",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "",
          "name": "Medical Appointment"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1155660260968370",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1824,
        -128
      ],
      "id": "",
      "name": "Send message",
      "webhookId": "",
      "credentials": {
        "whatsAppApi": {
          "id": "",
          "name": "Medical Appointment"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1155660260968370",
        "recipientPhoneNumber": "={{ $('Google Sheets Trigger').item.json.whtasapp_number.toString() }}",
        "textBody": "=Your Appointment ID: {{ $('Google Sheets Trigger').item.json.appointment_id }}\nPayment করতে নিচের link-এ click করুন 👇\n{{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        576,
        432
      ],
      "id": "",
      "name": "Send message1",
      "webhookId": "",
      "credentials": {
        "whatsAppApi": {
          "id": "",
          "name": "Medical Appointment"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1155660260968370",
        "recipientPhoneNumber": "={{ $('Get row(s) in sheet').item.json.whtasapp_number.toString() }}",
        "textBody": "=Your payment has been received for Appointment ID: \n{{ $json.appointment_id }}\n\n\nThank you for booking your appointment with us! ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1616,
        576
      ],
      "id": "",
      "name": "Send message2",
      "webhookId": "",
      "credentials": {
        "whatsAppApi": {
          "id": "",
          "name": "Medical Appointment"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1155660260968370",
        "recipientPhoneNumber": "={{ $('Google Sheets Trigger1').item.json.whtasapp_number.toString() }}",
        "textBody": "=Your Appointment id: {{ $('Google Sheets Trigger1').item.json.appointment_id }} is cancelled and the refund has been initiated",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2896,
        688
      ],
      "id": "",
      "name": "Send message3",
      "webhookId": "",
      "credentials": {
        "whatsAppApi": {
          "id": "",
          "name": "Medical Appointment"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1155660260968370",
        "recipientPhoneNumber": "={{ $('Google Sheets Trigger1').item.json.whtasapp_number.toString() }}",
        "textBody": "=Your Appointment {{ $('Google Sheets Trigger1').item.json.appointment_id }} is cancelled",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2672,
        416
      ],
      "id": "",
      "name": "Send message4",
      "webhookId": "",
      "credentials": {
        "whatsAppApi": {
          "id": "",
          "name": "Medical Appointment"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Config": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Patient List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Patient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get user Appionment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Appionment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reschedule appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stripe Checkout link generete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Checkout link generete": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Stripe Checkout link generete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Checkout link generete1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Stripe Checkout link generete2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Checkout link generete2": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "96e38ea5-2ed8-46f8-8a02-c529c81aa5ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "nodeGroups": [],
  "id": "afHYdm4mBdDfFb5R",
  "tags": []
}